.tm-content h1, .tm-content h2, .tm-content h3, .tm-content h4 {
	color: #33ccff;
}

.tm-content b {
	color: #33ccff;
	font-weight: bold;
}

hr {
	border: 1px solid;
}

.tm-font-medium {
	font-size: 1.1rem;
}

.tm-100 {
	width:100% !important;
}

#JobTitle {
	border: 2px solid white;
    padding-top: 5px;
    border-radius: 15px;
    margin-top: 15px;
    background-color: #33ccff;
	color: black;
}

#JobTitle h5 {
	font-weight: bold;
}

div#MainContent a {
    text-decoration: underline;
    color: mediumturquoise;
}

.Button {
	text-decoration:none !important;
	border: 2px solid white;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: #33ccff77;
	color: black !important;
	font-weight: bold;
}

.Button:hover {
    background-color: #ffffff77;
	color: black !important;
	text-decoration:none !important;
	font-weight: bold;
}

.Button:visited {
	color: black !important;
	font-weight: bold;
}

.ButtonImg {
	float:none !important;
}

div#ProjectList div {
    display: inline-block;
    width: 100%;
    height: auto;
    background: lightslategray;
    margin: 40px 0px;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid rgb(51 204 255 / 50%);
    box-shadow: 10px 10px 10px 5px rgb(51 204 255 / 50%);
}

table.ProjectText tr:nth-of-type(1) td {
	height:auto;
	vertical-align: text-top;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	max-height:90%;
}

table.ProjectText tr:nth-of-type(1) td h3 {
	text-align: initial;
}

table.ProjectText tr:nth-of-type(2) td {
	vertical-align: bottom;
}

table.ProjectText h3 {
	color: black;
	font-weight: bold;
}

table.ProjectText tr td a {
	text-align: right;
    float: right;
}

.ProjectImg {
	max-width: 45%;
    max-height: 500px;
}

div#ProjectList div:nth-child(2n) img
{
	float:right;
}

div#ProjectList div:nth-child(2n+1) img
{
	float:left;
}

table.ProjectText {
	height: 100%;
	width: -webkit-fill-available;
}

div#ProjectList div:nth-child(2n) td
{
	padding-right: 5%;
}

div#ProjectList div:nth-child(2n+1) td
{
	padding-left: 5%;
}

.VideoContent {
	text-align:center;
	width:100%;
	margin: 40px 0px;
}

.TechIconList {
	background-color: lightslategrey;
    width: fit-content;
	width: -moz-fit-content;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid rgb(51 204 255 / 50%);
}

.TechIconList img {
	max-height: 48px;
}

.footer-link a img {
    height: 64px;
    margin: 0px 5px;
    filter: drop-shadow(2px 4px 6px black);
}

.ProjectArticle img {
	max-width: 100%;
	margin-bottom:30px;
}

footer {
	position: absolute;
    bottom: -150px;
    right: 0;
	z-index: 999;
}